@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: rgb(233, 233, 233);
}
#root {
  position: relative;
  height: 100vh;
}
.load {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.head {
  display: flex;
  position: fixed;
  left: 15%;
  top: 60px;
}
.headnav {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  font-size: 30px;
  font-weight: 500;
  border-radius: 10px 10px;
  box-shadow: 1px 1px 10px 0px rgb(240, 238, 238);
  width: 220px;
}

.headnav a {
  text-decoration: none;
  color: rgb(207, 205, 205);
}
.homebtn {
  color: rgb(226, 17, 17) !important;
}
.headnav button {
  background: none;
  border: none;
  padding: 0px;
}

.mainbody {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}
.main {
  padding: 60px 0px 0px 0px;
  margin: auto;
}
.news {
  width: 600px;
  border-radius: 10px 10px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 10px 0px rgb(223, 220, 220);
  background-color: white;
}
ol {
  margin: 0;
  padding: 0;
}
.title {
  height: 100%;
  width: 100%;
  font-size: 25px;
  padding: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
}
.title a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.singlenews {
  width: 50%;
  margin-left: 33%;
  box-shadow: 1px 1px 10px 0px rgb(240, 238, 238);
  padding: 30px 30px 30px 30px;
  background-color: white;
}

.signintext {
  font-size: 22px;
  padding: 0px 10px 0px 10px;
}
.main-signin {
  width: 500px;
  height: 300px;
  margin: auto;
  margin-top: 10%;
  background-color: white;
  border-radius: 10px 10px;
  box-shadow: 1px 1px 10px 0px rgb(214, 214, 214);
}
.signin-box {
  margin: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signin-box div {
  text-align: center;
  align-items: center;
}

.login-btn {
  text-align: center;
}

.login-btn button {
  cursor: pointer;
  background-color: rgb(30, 146, 192);
  border: none;
  border-radius: 7px 7px;
  padding: 0px 10px 5px 10px;
  font-size: 25px;
  color: white;
}
.error-signin {
  font-size: 20px;
  color: rgb(241, 84, 11);
  height: 5%;
}
.signintext {
  text-align: center;
  border: 2px solid rgb(78, 78, 228);
  border-radius: 10px 10px;
}
.error {
  margin: auto;
  border-radius: 7px 7px;
  background-color: rgb(241, 84, 11);
  text-align: center;
  color: white;
  width: 500px;
  font-size: 20px;
}
.categorybtn {
  font-size: 25px;
  font-weight: 400 !important;
  margin-bottom: 10px;
}
.categorybtn a {
  background-color: #ffffff;
  padding: 0 15px 7px 10px;
  color: rgb(0, 0, 0);
  border-radius: 10px 10px;
}

.categorybtn a:hover {
  font-weight: 700;
  color: #2365f3;
}

.categorybtn a:focus {
  font-weight: 700;
  color: #2365f3;
}
.headcategory {
  font-size: 30px;
  color: rgb(40, 117, 233);
}
ol {
  margin-left: 15%;
}
.imgnews {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin-top: 30px;
}
.commentstitle {
  font-size: 22px;
  font-weight: 500;
  width: 50%;
  margin-left: 33%;
  box-shadow: 1px 1px 10px 0px rgb(214, 214, 214);
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  text-align: center;
  background-color: #fff;
}

.block-inpt-btn {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 33%;
  padding: 10px 10px 10px 10px;
  margin-top: 0px;
}

.inputcomment {
  width: 87%;
  border: 2px solid #ffffff;
  border-radius: 30px 30px;
  padding: 0 5% 0 5%;
}
.inputcomment:hover {
  width: 87%;
  border: 2px solid #2356c4;
  border-radius: 30px 30px;
  padding: 0 5% 0 5%;
}

.inputcomment:focus {
  outline: none;
  border: 2px solid #2356c4;
}

.blockcomment {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 50%;
  margin-left: 33%;
  box-shadow: 1px 1px 10px 0px rgb(214, 214, 214);
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  border-radius: 10px 10px;
}

.nicknamecomment {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.emptiness {
  margin-top: 5%;
}

.send-btn {
  padding: 1em 1.1em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgb(214, 214, 214);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.send-btn:hover {
  background-color: #2356c4;
  box-shadow: 0px 5px 20px rgb(214, 214, 214);
  color: #fff;
}

.send-btn:active {
  transform: translateY(-1px);
}

.dots:after {
  content: "\2807";
  font-size: 18px;
  cursor: pointer;
}
.comment {
  padding: 0px 15px 5px 15px;
}
.remove-comment-block {
  display: inline-block;
  position: absolute;
  right: 2%;
  top: 15%;
}
.remove-comment {
  background-color: white;
  border-radius: 7px 7px;
  border: 2px solid rgb(255, 255, 255);
  font-weight: 500;
  box-shadow: 1px 1px 10px 0px rgb(214, 214, 214);
}

.please-signin {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  width: 50%;
  margin-left: 33%;
  box-shadow: 1px 1px 10px 0px rgb(214, 214, 214);
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  border-radius: 10px 10px;
  color: rgb(190, 32, 32);
}
.logout {
  background-color: rgb(245, 152, 46);
  display: inline-block;
  position: absolute;
  position: fixed;
  padding: 5px 10px 5px 10px;
  border-radius: 5px 5px;
  box-shadow: 1px 1px 10px 0px rgb(214, 214, 214);
  right: 11%;
  top: 62px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.signupbtn{
  background-color: rgb(245, 152, 46);
  display: inline-block;
  position: absolute;
  position: fixed;
  padding: 5px 10px 5px 10px;
  border-radius: 5px 5px;
  box-shadow: 1px 1px 10px 0px rgb(214, 214, 214);
  right: 5%;
  top: 62px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.login-txt{
  font-weight: 700;
  font-size: 25px;
}
