.head {
  display: flex;
  position: fixed;
  left: 8%;
  top: 60px;
  flex-direction: column;
}

.headnav {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  font-size: 30px;
  font-weight: 500;
  border-radius: 10px 10px;
  box-shadow: 1px 1px 10px 0px rgb(240, 238, 238);
  width: 220px;
}

.headnav a {
  text-decoration: none;
  color: rgb(207, 205, 205);
}

.headnav button {
  background: none;
  border: none;
  padding: 0px;
}
.homeBtn {
  color: rgb(226, 17, 17) !important;
}
.categoryBtn {
  font-size: 25px;
  font-weight: 400 !important;
  margin-bottom: 10px;
}
.categoryBtn a {
  background-color: #ffffff;
  padding: 0 15px 7px 10px;
  color: rgb(0, 0, 0);
  border-radius: 10px 10px;
}

.categoryBtn a:hover {
  font-weight: 700;
  color: #2365f3;
}

.categoryBtn a:focus {
  font-weight: 700;
  color: #2365f3;
}

.logout {
  background-color: rgb(245, 152, 46);
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border-radius: 5px 5px;
  box-shadow: 1px 1px 10px 0px rgb(214, 214, 214);
  left: 16%;
  top: 50%;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.signUpBtn {
  background-color: rgb(245, 152, 46);
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border-radius: 5px 5px;
  box-shadow: 1px 1px 10px 0px rgb(214, 214, 214);
  left: 10.5%;
  top: 50%;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.btnLogout {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
